.card {
  border: 7px solid #000000;
  border-radius: 2rem;
}

.card-3d {
  box-shadow: -10px 10px 0 0 #000000;
  transition: 0.25s ease;

  &:hover {
    transform: translate(-10px, 10px);
    border-color: $brand-blue;
    box-shadow: 0 0 0 0 #000000;
  }
}
