$font-bold: rubik;
$font-med: rubik;
$font-light: roboto;

$display-size: 5.5em;

$brand-blue: #69ddff;
$brand-pink: #f4c6db;
$brand-yellow: #fff05a;
$brand-red: #ff6992;
$brand-silver: #e8e9eb;
$brand-darkgray: #404040;
